*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
table{
    text-align:center;
    border:#000 1px solid;
    padding: 200px 300px 200px 300px;
    
}
.container{
    margin: 0;
    padding: 0;
}
.header{
    margin: auto;
    font-size: 20px;
    padding-top: 100px;
    color:white;
}
p{
    color:black;
}
.header h1{
    background-color:lightsalmon;
    width: 400px;
    height: 55px;
    margin: auto;
    border-radius: 5px;
}
.header p{
    font-style: normal;
    padding: 30px 40px 30px 40px;
}
hr{
    margin: auto;
    width: 70%;
    border:#114d70 2px solid;
    border-style:dashed;
    
}
.main{
    margin: auto;
    width: auto;
    padding-top: 50px;
    font-size: 20px;
}
.main h2{
    width: auto;
    padding-bottom: 20px;
}
.main h4{
    width:300px;
    margin: auto;
    background-color: rgb(136, 124, 12);
    color: white;
    border-radius: 5px;
}
.sub-container1{
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
.sub-container2{
    margin: auto;
    padding: 30px ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.team1{
    width: 30%;
    padding-top: 20px;
    
}
.team2{
    padding: 20px 20px 20px 20px;
}
.name{
    font-weight: bold;
}
.desig{
    font-style: oblique;
    color:blue;
    font-weight:bold;
    padding-top: 5px;
}
.img{
    border-radius: 50%;
}
#art{
  height: 50px;
  width:75px;
  display: block;
  margin-left:715px;
  margin-top: -55px;
}
#art1{
        height: 50px;
        width:75px;
        display: block;
        margin-left: 0px;
        margin-top: -30px;
}
#art2{
    height: 50px;
    width:75px;
    display: block;
    margin-left:715px;
    margin-top: -40px;
  }

#art3{
    height: 50px;
    width:75px;
    display: block;
    margin-left: 0px;
    margin-top: -30px;
}
